
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<!-- サイドメニュー -->
			<div class="menu-bar">
				<ul>
					<li><%= link_to "マイページ", user_path(current_user.id) %></li>
					<li><%= link_to "新規投稿", new_post_path %></li>
					<li><%= link_to "グループ一覧", user_posts_path %></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9">
			<!-- メッセージ編集画面 -->
			<section class="post">
				<h2>編集</h2>
				<%= form_for(@message) do |f| %>
					<table class="table-space">
						<tr>
							<td>メッセージ：</td>
							<td><%= f.text_area :body %></td>
						</tr>
						<tr>
							<td></td>
							<td><%= f.submit "修正" %></td>
						</tr>
					</table>
				<% end %>
			</section>
		</div>
	</div>
</div>