<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="menu-bar">
				<ul>
					<li><%= link_to "マイページ", user_path(current_user.id) %></li>
					<li><%= link_to "新規投稿", new_post_path %></li>
					<li><%= link_to "グループ一覧", user_posts_path %></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-9">
			<section class="post">
				<h2>
					<%= @post.group_name %>のグループチャット
				</h2>
				<%= form_for(@message, url: post_messages_path(@post.id), method: :post) do |f| %>
					<table class="table-space">
						<tr>
							<td><%= f.label :body, "メッセージ：" %></td>
							<td>
								<%= f.text_field :body %>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><%= f.submit "投稿", class: "btn bg-success" %></td>
						</tr>
					</table>
				<% end %>
			</section>
			<div class="post">
				<% @messages.each do |message| %>
								<%= message.created_at.strftime("%Y/%m/%d") %>  
								<%= message.user.user_name %>  

								<%= message.body %>
								<% if message.user == current_user %>
									<%= link_to message_path(message.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
										<button class="btn bg-danger fr">削除</button>
									<% end %>
								<% end %>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>
