<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="menu-bar">
				<ul>
					<li><%= link_to "ユーザー一覧", administrator_users_path %></li>
					<li><%= link_to "投稿一覧", administrator_posts_path %></li>
					<li><%= link_to "コメント一覧", administrator_comments_path %></li>
					<li><%= link_to "お問い合わせ一覧", administrator_contacts_path %></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="post">
				<% @posts.each do |post| %>
					グループ名：<%= post.group_name %>
					<%= link_to post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
						<button class="btn bg-danger fr">削除</button>
					<% end %>
					<%= link_to edit_post_path(post.id) do %>
						<button class="btn bg-info fr">編集</button>
					<% end %>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>