<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="menu-bar">
				<ul>
					<li><%= link_to "マイページ", user_path(current_user.id) %></li>
					<li><%= link_to "新規投稿", new_post_path %></li>
					<li><%= link_to "グループ一覧", user_posts_path %></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9">

			<!-- ユーザー情報の修正 -->
			<section class="post">
				<h2>編集</h2>
				<%= form_for(@user) do |f| %>
					<table class="table-space">
						<tr>
							<td>名前：</td>
							<td><%= f.text_field :user_name %></td>
						</tr>
						<tr>
							<td>メールアドレス：</td>
							<td><%= f.text_field :email %></td>
						</tr>
						<tr>
							<td>現在の画像：</td>
							<td><%= attachment_image_tag(@user, :image, :fill, 100, 100, format: "jpeg", fallback: "/images/no_image.jpg") %></td>
						</tr>
						<tr>
							<td>画像設定：</td>
							<td><%= f.attachment_field :image %></td>
						</tr>
						<tr>
							<td>紹介文：</td>
							<td><%= f.text_area :profile %></td>
						</tr>
						<tr>
							<td></td>
							<td><%= f.submit "更新", class: "btn bg-success" %></td>
						</tr>
					</table>
				<% end %>
			</section>
		</div>
	</div>
</div>