<!-- マイページは青基調の色に設定 -->
<div class="mypage-thema">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="menu-bar">
					<ul>
						<li><%= link_to "マイページ", user_path(current_user.id) %></li>
						<li><%= link_to "新規投稿", new_post_path %></li>
						<li><%= link_to "グループ一覧", user_posts_path(user_id: current_user.id) %></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="profile">
					<p><%= attachment_image_tag(@user, :image, :fill, 400, 400, format: 'jpeg', fallback: "no_image.jpg") %></p>
					<table class="table-space">
						<tr>
							<td>ニックネーム：</td>
							<td><%= @user.user_name %></td>
						</tr>
						<tr>
							<td>メールアドレス：</td>
							<td><%= @user.email %></td>
						</tr>
						<tr>
							<td>紹介文：</td>
							<td><%= @user.profile %></td>
						</tr>
					</table>
					<% if @user == current_user %>
						<%= link_to edit_user_path(@user.id) do %>
							<button class="btn bg-warning right">編集</button>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
