<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <section class="post">
      <h2>ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table-space">
          <tr>
            <td><%= f.label :email, "メール" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :password, "パスワード" %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <% if devise_mapping.rememberable? %>
               <div class="field">
               <%= f.check_box :remember_me %>
               <%= f.label :remember_me, "情報を記憶する" %>
               </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン", class: "btn bg-success" %></td>
          </tr>
        </table>
      <% end %>

        <%= link_to "新規登録", new_user_registration_path %>

      </section>
    </div>
  </div>
</div>