<div class="main-thema">

	<!-- メインビジュアル -->

	<!-- 簡易説明とコンセプトへのリンク -->


	<!--  募集一覧 -->
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<% @posts.each do |post| %>
					<div class="post">
						<table class="table-space">
							<tr>
								<td>グループ管理者：</td>
								<td><%= post.user.user_name %></td>
							</tr>
							<tr>
								<td>グループ名：</td>
								<td><%= post.group_name %></td>
							</tr>
							<tr>
								<td>地域(都道府県)：</td>
								<td><%= post.prefecture %></td>
							</tr>
							<tr>
								<td>地域(市・最寄駅)：</td>
								<td><%= post.region %></td>
							</tr>
							<tr>
								<td>募集内容：</td>
								<td><%= simple_format(post.description) %></td>
							</tr>
							<tr>
								<td>最終更新日：</td>
								<td>
									<%= post.updated_at.strftime("%Y/%m/%d") %>
								</td>
							</tr>
							<tr>
								<td>メンバー数：</td>
								<td></td>
							</tr>
							<tr>
								<td>メンバー平均年齢：</td>
								<td></td>
							</tr>
						</table>

						<% if user_signed_in? %>
						<!-- グループに加入しているかどうかで場合分け、加入すみなら「グループから退室する」を表示させ、削除メソッドへリンクさせる。 -->
						<button class="btn bg-success right">グループに参加する！</button>
						<% end %>

					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>