<!DOCTYPE html>
<html>
  <head>
    <title>雀友</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.13/css/all.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div id="menu">
      <ul>
        <li>
          <%= link_to root_path do %>
            <i class="fas fa-clone"></i> トップ
          <% end %>
        </li>
        <li>
          <%= link_to concept_path do %>
           <i class="fas fa-seedling"></i> コンセプト
          <% end %>
         </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fas fa-chess-king"></i> マイページ
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
           </li>
        <% else %>
          <li>
            <%= link_to user_session_path do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus"></i> 会員登録
            <% end %>
           </li>
        <% end %>
        <li>
          <%= link_to contacts_path do %>
          <i class="fas fa-envelope"></i> お問い合わせ
          <% end %>
        </li>
      </ul>
    </div>
  </header>

  <body>
    <div class="main-thema">
    <%= yield %>

      <%= link_to "#" do %>
        <span id ="back">
          <%= image_tag "ji5-66-90-s.png", alt: "画像", title: "上に戻る" %>
        </span>
      <% end %>

    </div>

<script>

$(function() {
  $('#back').on('click', function(){
    $('body, html').animate({
      scrollTop:0
    }, 800);
    return false
  });
});

</script>

  <footer>
    Copyright © 2019 Akihiro Hayashi All Rights Reserved.
  </footer>
  </body>
</html>
